.Making {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #282c34;
  justify-content: space-around;
}

.Making-menu {
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 1px solid white;
  border-radius: 4px;
  width: 15%;
  padding: 2%;
}
.Making-view {
  border: 1px solid white;
  border-radius: 4px;
  min-width: 70%;
  min-height: 100vh;
  padding: 2px;
}

input {
  font-size: medium;
}
